<h2 class="text-dark font-weight-bolder">Hey <%= @account.name %>,</h2>
<hr />
<p>
Your account has been locked due to multiple login failed attempts.
</p>
<p>Your username is: <span class="text-info"><%= @account.email %></span></p>
<p>
To unlock your account and reset your password, simply click <%= link_to  "here", "http://#{@url}/reset_password?token=#{@token}" %>.
</p>
<p>
Have a great day!
</p>