.slider-enter {
  width: 70px;
}

.slider-enter-done {
  width: 230px;
  transition: all 40ms ease-in;
}

.slider-appear {
  width: 70px;
}

.slider-appear-done {
  width: 230px;
  transition: all 40ms ease-in;
}

.slider-exit {
  width: 230px;
}

.slider-exit-done {
  width: 70px;
  transition: all 40ms ease-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear-done {
  opacity: 1;
  transition: opacity 40ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-done {
  opacity: 0;
  display: none;
  transition: all 50ms ease-in-out;
}