.slider-enter {
  width: 70px;
}

.slider-enter-done {
  width: 230px;
  transition: all 40ms ease-in;
}

.slider-appear {
  width: 70px;
}

.slider-appear-done {
  width: 230px;
  transition: all 40ms ease-in;
}

.slider-exit {
  width: 230px;
}

.slider-exit-done {
  width: 70px;
  transition: all 40ms ease-out;
}

.sidebar-fade-enter {
  width: 100%;
}

.sidebar-fade-enter-done {
  width: auto;
  transition: all 40ms ease-out;
}

.sidebar-fade-exit {
  width: auto;
  overflow: hidden;
}

.sidebar-fade-exit-done {
  width: 100%;
  overflow: hidden;
  transition: all 40ms ease-in-out;
}

.hide-text-enter {
  opacity: 0;
}

.hide-text-enter-done {
  opacity: 1;

  transition: all 40ms ease-in;
}

.hide-text-exit {
  opacity: 1;

}

.hide-text-exit-done {
  opacity: 0;
  transition: all 40ms ease-out;
}