.sidebar-header-expanded {
  padding-left: 17.5px !important;
  padding-right: 0 !important;
  height: 64px !important;
  margin: 0 !important;
  line-height: 64px !important;
}

.sidebar-header-collapsed {
  padding-left: 24.5px !important;
  padding-right: 0 !important;
  height: 64px !important;
  margin: 0 !important;
  line-height: 64px !important;
}

.sidebar-header-link {
  text-align: left;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
  height: 100% !important;
}