.logo {
  width: 150px;
  height: 100%;
  background: transparent;
  float: left;
  padding-left: 20px;
  line-height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.trigger {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-layout-header .ant-menu {
  line-height: 50px !important;
}
