.DayPicker-Day {
  padding: 0.4em 0.7em;
  width: 35px;
  height: 35px;
  margin: 0em;
  display: table-cell;
  border-spacing: 0em;
  border-collapse: collapse;
}

.DayPicker-Month {
  margin: 1em;
}

.DayPicker-wrapper {
  padding-bottom: 0;

}

.DayPicker-Day--highlighted {
  background-color: orange;
  color: white;
}

.DayPickerInput-Overlay {
  z-index: 5 !important;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.DayPicker-Months {
  flex-wrap: nowrap;
}

.custom-date-input {
  border: 0;
  border-bottom: 1px solid blue !important;
  outline: 0em;
  font-size: 15px !important;
  width: 100px;
}

.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}

.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}

.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.InputFromTo {}

.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
}